FORMAT: 1A
HOST: https://api.twitter.com/1.1/

# mev-test
Polls is a simple API allowing consumers to view polls and vote in them.

## Show User Feed [/statuses/user_timeline.json]
+ Parameters
    + user_id (optional, number, `12345`) ... Set to `true` to remove instead of deactivate
    + screen_name (optional, string, `notario`) ... The screen name of the user for whom to return results for.
    + since_id (optional, number, `12345`) ... Returns results with an ID greater than (that is, more recent than) the specified ID. There are limits to the number of Tweets which can be accessed through the API. If the limit of Tweets has occured since the since-id, the since-id will be forced to the oldest ID available.
    + count (optional) ... Specifies the number of tweets to try and retrieve, up to a maximum of 200 per distinct request. The value of count is best thought of as a limit to the number of tweets to return because suspended or deleted content is removed after the count has been applied. We include retweets in the count, even if include-rts is not supplied. It is recommended you always send include_rts=1 when using this API method.
    + max_id (optional, number, `54321`) ... Returns results with an ID less than (that is, older than) or equal to the specified ID.
    + trim_user (optional, boolean, `true`) ... When set to either true, t or 1, each tweet returned in a timeline will include a user object including only the status authors numerical ID. Omit this parameter to receive the complete user object.
    + exclude_replies (optional, boolean, `true`) ... This parameter will prevent replies from appearing in the returned timeline. Using exclude-replies with the count parameter will mean you will receive up-to count tweets — this is because the count parameter retrieves that many tweets before filtering out retweets and replies. This parameter is only supported for JSON and XML responses.
    + contributor_details (optional, boolean, `true`) ... This parameter enhances the contributors element of the status response to include the screen-name of the contributor. By default only the user-id of the contributor is included.
    + include_rts (optional, boolean, `false`) ... When set to false, the timeline will strip any native retweets (though they will still count toward both the maximal length of the timeline and the slice selected by the count parameter). Note: If you’re using the trim-user parameter in conjunction with include-rts, the retweets will still contain a full user object.
    
### /statuses/user_timeline.json [GET]
+ Request
    + Headers
    
            Authorization: OAuth oauth_consumer_key="ONru9tPq2h89sqU9uhjUxrWaU",oauth_token="722030522659115009-cYhbNFIjDSurhqnwIgfG19ghnYoLHF0",oauth_signature_method="HMAC-SHA1",oauth_timestamp="1473445162",oauth_nonce="3a36b630ac126f68593fdbeab6b62be7",oauth_version="1.0",oauth_signature="okbehmZGD8PVpWnkOZXvOFQ0gBE%3D"

+ Response 200 (application/json)

        [
          {
            "coordinates": null,
            "favorited": false,
            "truncated": false,
            "created_at": "Wed Aug 29 17:12:58 +0000 2012",
            "id_str": "240859602684612608",
            "entities": {
              "urls": [
                {
                  "expanded_url": "https://dev.twitter.com/blog/twitter-certified-products",
                  "url": "https://t.co/MjJ8xAnT",
                  "indices": [
                    52,
                    73
                  ],
                  "display_url": "dev.twitter.com/blog/twitter-c\u2026"
                }
              ],
              "hashtags": [
         
              ],
              "user_mentions": [
         
              ]
            },
            "in_reply_to_user_id_str": null,
            "contributors": null,
            "text": "Introducing the Twitter Certified Products Program: https://t.co/MjJ8xAnT",
            "retweet_count": 121,
            "in_reply_to_status_id_str": null,
            "id": 240859602684612608,
            "geo": null,
            "retweeted": false,
            "possibly_sensitive": false,
            "in_reply_to_user_id": null,
            "place": null,
            "user": {
              "profile_sidebar_fill_color": "DDEEF6",
              "profile_sidebar_border_color": "C0DEED",
              "profile_background_tile": false,
              "name": "Twitter API",
              "profile_image_url": "http://a0.twimg.com/profile_images/2284174872/7df3h38zabcvjylnyfe3_normal.png",
              "created_at": "Wed May 23 06:01:13 +0000 2007",
              "location": "San Francisco, CA",
              "follow_request_sent": false,
              "profile_link_color": "0084B4",
              "is_translator": false,
              "id_str": "6253282",
              "entities": {
                "url": {
                  "urls": [
                    {
                      "expanded_url": null,
                      "url": "http://dev.twitter.com",
                      "indices": [
                        0,
                        22
                      ]
                    }
                  ]
                },
                "description": {
                  "urls": [
         
                  ]
                }
              },
              "default_profile": true,
              "contributors_enabled": true,
              "favourites_count": 24,
              "url": "http://dev.twitter.com",
              "profile_image_url_https": "https://si0.twimg.com/profile_images/2284174872/7df3h38zabcvjylnyfe3_normal.png",
              "utc_offset": -28800,
              "id": 6253282,
              "profile_use_background_image": true,
              "listed_count": 10775,
              "profile_text_color": "333333",
              "lang": "en",
              "followers_count": 1212864,
              "protected": false,
              "notifications": null,
              "profile_background_image_url_https": "https://si0.twimg.com/images/themes/theme1/bg.png",
              "profile_background_color": "C0DEED",
              "verified": true,
              "geo_enabled": true,
              "time_zone": "Pacific Time (US & Canada)",
              "description": "The Real Twitter API. I tweet about API changes, service issues and happily answer questions about Twitter and our API. Don't get an answer? It's on my website.",
              "default_profile_image": false,
              "profile_background_image_url": "http://a0.twimg.com/images/themes/theme1/bg.png",
              "statuses_count": 3333,
              "friends_count": 31,
              "following": null,
              "show_all_inline_media": false,
              "screen_name": "twitterapi"
            },
            "in_reply_to_screen_name": null,
            "source": "<a href="//sites.google.com/site/yorufukurou/%5C%22" rel="\"nofollow\"">YoruFukurou</a>",
            "in_reply_to_status_id": null
          },
          {
            "coordinates": null,
            "favorited": false,
            "truncated": false,
            "created_at": "Sat Aug 25 17:26:51 +0000 2012",
            "id_str": "239413543487819778",
            "entities": {
              "urls": [
                {
                  "expanded_url": "https://dev.twitter.com/issues/485",
                  "url": "https://t.co/p5bOzH0k",
                  "indices": [
                    97,
                    118
                  ],
                  "display_url": "dev.twitter.com/issues/485"
                }
              ],
              "hashtags": [
         
              ],
              "user_mentions": [
         
              ]
            },
            "in_reply_to_user_id_str": null,
            "contributors": null,
            "text": "We are working to resolve issues with application management & logging in to the dev portal: https://t.co/p5bOzH0k ^TS",
            "retweet_count": 105,
            "in_reply_to_status_id_str": null,
            "id": 239413543487819778,
            "geo": null,
            "retweeted": false,
            "possibly_sensitive": false,
            "in_reply_to_user_id": null,
            "place": null,
            "user": {
              "profile_sidebar_fill_color": "DDEEF6",
              "profile_sidebar_border_color": "C0DEED",
              "profile_background_tile": false,
              "name": "Twitter API",
              "profile_image_url": "http://a0.twimg.com/profile_images/2284174872/7df3h38zabcvjylnyfe3_normal.png",
              "created_at": "Wed May 23 06:01:13 +0000 2007",
              "location": "San Francisco, CA",
              "follow_request_sent": false,
              "profile_link_color": "0084B4",
              "is_translator": false,
              "id_str": "6253282",
              "entities": {
                "url": {
                  "urls": [
                    {
                      "expanded_url": null,
                      "url": "http://dev.twitter.com",
                      "indices": [
                        0,
                        22
                      ]
                    }
                  ]
                },
                "description": {
                  "urls": [
         
                  ]
                }
              },
              "default_profile": true,
              "contributors_enabled": true,
              "favourites_count": 24,
              "url": "http://dev.twitter.com",
              "profile_image_url_https": "https://si0.twimg.com/profile_images/2284174872/7df3h38zabcvjylnyfe3_normal.png",
              "utc_offset": -28800,
              "id": 6253282,
              "profile_use_background_image": true,
              "listed_count": 10775,
              "profile_text_color": "333333",
              "lang": "en",
              "followers_count": 1212864,
              "protected": false,
              "notifications": null,
              "profile_background_image_url_https": "https://si0.twimg.com/images/themes/theme1/bg.png",
              "profile_background_color": "C0DEED",
              "verified": true,
              "geo_enabled": true,
              "time_zone": "Pacific Time (US & Canada)",
              "description": "The Real Twitter API. I tweet about API changes, service issues and happily answer questions about Twitter and our API. Don't get an answer? It's on my website.",
              "default_profile_image": false,
              "profile_background_image_url": "http://a0.twimg.com/images/themes/theme1/bg.png",
              "statuses_count": 3333,
              "friends_count": 31,
              "following": null,
              "show_all_inline_media": false,
              "screen_name": "twitterapi"
            },
            "in_reply_to_screen_name": null,
            "source": "<a href="//sites.google.com/site/yorufukurou/%5C%22" rel="\"nofollow\"">YoruFukurou</a>",
            "in_reply_to_status_id": null
          }
        ]